@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins&family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.header {
  display: flex;
  background-color: #3c3a39;
  padding: 1.2rem 1.8rem 1.2rem 1.8rem;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: none;
}

.flex-container {
  background-color: #1c1a19;
  background-image: url(./images/illustration.svg);
  background-repeat: no-repeat;
  background-position: bottom -2rem right -20.6rem;
  display: flex;
  flex-direction: column;
  padding: 120px 1.8rem 120px 1.8rem;
  gap: 12px;
}

.bars {
  color: #fff5e1;
  cursor: pointer;
}

.heading {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  display: inline-block;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.intro {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.text {
  color: #fff5e1;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.username {
  color: #fff;
}

.wrapper li {
  list-style: none;
}

.wrapper {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.wrapper-footer li {
  list-style: none;
}

.wrapper-footer {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.icon-social {
  color: #fff5e1;
  cursor: pointer;
  font-size: 24px;
}

.image {
  position: relative;
  left: 50%;
}

.work {
  display: block;
  padding: 120px 0;
}

.work-container {
  display: flex;
  padding: 0 24px;
  margin-bottom: 80px;
}

.work-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
}

.feature {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 24px;
}

.languages {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 12px;
}

.skills {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.project-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.project-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.see-project-button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  width: 124px;
  padding: 12px 12px;
  background: #ff6b00;
  border: none;
}

.random-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  padding: 0 24px;
  grid-row-gap: 24px;
}

.projects {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/random-project-image.png);
  background-repeat: auto, no-repeat;
  background-size: cover;
  padding-top: 76px;
  gap: 14px;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 16px;
}

.project-title2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-text2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.lang {
  display: flex;
  list-style: none;
  gap: 12px;
}

.skills2 {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.see2 {
  font-size: 17px; /* 1rem => 16px, 1em => 2rem */
  line-height: 23px;
  letter-spacing: 3%;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  background-color: #ff6b00;
  color: #fff;
  border: none;
}

.see2:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  font-weight: 700;
  color: #f55800;
}

.see2:active {
  background: #e05304;
  color: #f4f1f0;
  font-weight: 700;
}

.see2:disabled {
  background: #f4f1f0;
  color: #5b5957;
  font-weight: 700;
}

.about {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/about-image.svg);
  background-repeat: no-repeat;
  background-position: top 25rem right;
}

.about-first--container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 120px 24px;
  margin-bottom: 90px;
}

.aboutheading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.mydescription {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.resume {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
  padding: 12px;
  letter-spacing: 3%;
  width: max-content;
  background-color: #ff6b00;
  border: none;
}

.about-skills--container {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  gap: 24px;
}

.skill-li--container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skill-li-title {
  display: flex;
  gap: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.skill-li-title .icon {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
}

.lang-icon {
  transform: rotate(45deg);
}

.skill-icon {
  border-radius: 50%;
}

.skill-container--ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  gap: 8px;
}

.ul--li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 42.7px;
  color: white;
  padding: 12px;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
}

.newprojects-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-form {
  display: flex;
  margin: 24px;
}

.input-name {
  height: 48px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.input-email {
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  padding: 16px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.input-text-area {
  width: 100%;
  margin-bottom: 24px;
  padding: 16px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 100%;
}

.random-projects:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .wrapper {
    float: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2.5%;
  }

  .headline {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 566px;
    position: relative;
    left: 143px;
    gap: 24px;
  }

  .flex-container {
    background-color: #1c1a19;
    background-image: url(./images/illustration.svg);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    display: flex;
    flex-direction: column;
    padding: 120px 1.8rem 120px 1.8rem;
    gap: 12px;
  }

  .about-first--container {
    display: flex;
    flex-wrap: wrap;
    width: 566px;
  }

  .about-skills--container {
    display: flex;
    flex-direction: row;
  }

  .skill-li--container {
    margin-right: 153px;
  }

  .newprojects-text1 {
    width: 455px;
    height: 256px;
  }

  .text-container {
    display: flex;
    flex-direction: row;
  }

  .newprojects-text {
    margin-left: 135px;
    width: 455px;
    height: 256px;
  }

  nav {
    display: inline-block;
    font-weight: 500px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .bars {
    display: none;
  }

  .links {
    color: #fff;
    text-decoration: none;
  }

  .feature {
    display: grid;
    grid-template-columns: 684px 448px;
    grid-template-rows: 448px;
    gap: 24px;
    margin-bottom: 50px;
  }

  .yoga-image {
    width: 100%;
  }

  .random-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2.4rem;
  }

  .about {
    background-position: top right;
    background-size: 40% 40%;
    padding: 0 12rem;
  }
}
