@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  background-color: #1C1A19;
}

.header {
  display: flex;
  height: 2rem;
  background-color:#3C3A39;
  width: 100%;
  padding: 0 2.4rem 0 2.4rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.fas {
  color: #FFF5E1;
}

h1 {
  color: #FF6B00;
  margin-bottom: 1.5rem;
  font-family: 'Crete Round', serif;
}

h2 {
  color: #FFF5E1;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #FFF5E1;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}

.username {
  color: #FFFF;
  position:relative;
  right: 38px;
}

.wrapper li {
  list-style: none;
}

.wrapper {
  display:flex;
}

.fab {
  margin-right: 1.5rem;
  color: #FFF5E1;
}

.image {
  position: relative;
  left: 50%;
}